<nav class="blueColor">
  <div class="nav-wrapper">
    <a href="/#/" class=" white-text"><img src="assets/img/logo.png" alt=""></a>
    <ul id="nav-mobile" class="right">
      <li data-menuanchor="Accueil"><a href="/#/">HOME</a></li>
      <li data-menuanchor="Accueil"><a href="/#/program">PROGRAMME</a></li>
      <li data-menuanchor="Equipe"><a href="/#/team">LA TEAM</a></li>
      <!-- <li data-menuanchor="Contact"><a href="/#/contact">Contact</a></li> -->
      <li data-menuanchor="Partenaire"><a href="/#/store">STORE</a></li>
    </ul>
  </div>
</nav>
