<nav class="blueColor">
  <div class="nav-wrapper">
    <a href="/#/" class="brand-logo white-text"><img class="responsive20" src="assets/img/nopsis.png" alt=""></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li data-menuanchor="Accueil"><a href="/#/">Accueil</a></li>
      <li data-menuanchor="Accueil"><a href="/#/program">Programme</a></li>
      <li data-menuanchor="Equipe"><a href="/#/team">L'équipe</a></li>
      <li data-menuanchor="Contact"><a href="/#/contact">Contact</a></li>
      <li data-menuanchor="Partenaire"><a href="/#/store">Store</a></li>
    </ul>
  </div>
</nav>
