<div class="slider">
    <ul class="slides">
      <li ng-repeat="slider in vm.slider">
        <img ng-src="{{slider.img}}" width="2048" height="1365" alt="{{slider.alt}}">
        <div class="caption center-align">
          <h3>{{slider.title}}</h3>
          <h5 class="light grey-text text-lighten-3">{{slider.text}}</h5>
          <a href="{{slider.href}}" target="_blank" class="waves-effect waves-light btn white bleu-text">Voir</a>
        </div>
      </li>
    </ul>
  </div>



  <!-- Blog-->
  <div class="slider row">
    <ul class="slides section blog" id="blog">
      <div class="section-content" id="blogContent">
        <li class="section-content" id="jsonContent"></li>
    </div>
</ul>
</div>

  <!-- Blog-->


  <h1><a class="red-text" href="https://www.youtube.com/channel/UC4xKeJLSjDLDAtW1dNfwwVw?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play fa-1x" aria-hidden="true"></i> Le Youtube du possible</a></h1>
  <div class="row center carousel black netFlux" id="youtube"></div>


<div ng-repeat="carousel in vm.carousel" class="row BlockYoutube">
  <h1 class="{{carousel.textColor}}"><i class="fa fa-{{carousel.icon}} fa-1x" aria-hidden="true"></i>{{carousel.title}}</h1>
<div class="black">
<br>
  <div  class="carousel {{carousel.icon}}">
    <a  class="carousel-item" href=""><img ng-src="{{carousel.img2}}"><h4 class="center white-text">{{carousel.img2Text}}</h4></a>
    <a  class="carousel-item" href=""><img ng-src="{{carousel.img3}}"><h4 class="center white-text">{{carousel.img3Text}}</h4></a>
    <a  class="carousel-item" href=""><img ng-src="{{carousel.img4}}"><h4 class="center white-text">{{carousel.img4Text}}</h4></a>
    <a  class="carousel-item" href=""><img ng-src="{{carousel.img5}}"><h4 class="center white-text">{{carousel.img5Text}}</h4></a>
  </div>
</div>
</div>

<!-- <div  class="text-center container">
  <h1>Voulez-vous travailler sur quelque chose?</h1>
  <div class="row">
    <div ng-repeat='icon in vm.icon' class="col s2">
      <i class="fa fa-{{icon.logo}} fa-5x" aria-hidden="true"></i><br>
      <p>{{icon.text}}</p>
    </div>
  </div>
</div> -->
